body{
    font-family: 'Poppins', sans-serif;
    margin:0 ;
}
h1{
    font: size 50px;
    /* color: orange; */
}
.orage-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    box-shadow:10px,10px yellow;
}
.half-width img{
    width: 50%;
    height: 90%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 15px; 
    font-weight: 800;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-image:4 10 ;
    /* margin-bottom: unset; */
}
.experience-area{
    background-image:url( pex.jpg);
    background-repeat: no-repeat;
    background-position: 0;
    opacity: 0.8;


}
.experience-iteam{
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    /* border-left: solid; */
   
}
#web-dev-experience{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice:1 ;

}
#full-stack-experience{
    border-left: 7px solid;
    border-image:linear-gradient(salmon,cyan);
    border-image-slice:1 ;


}
footer{
    text-align: center;
}
